In [1]:
from stellargraph import datasets, utils
from tensorflow.keras import callbacks, optimizers, losses, metrics, regularizers, Model
import numpy as np
import pandas as pd

from stellargraph.mapper import KGTripleGenerator
from stellargraph.layer import ComplEx

from IPython.display import HTML

In [2]:
epochs = 50
embedding_dimension = 200
negative_samples = 10

In [3]:
wn18 = datasets.WN18()
display(HTML(wn18.description))
wn18_graph, wn18_train, wn18_test, wn18_valid = wn18.load()

In [5]:
wn18_train

          source                         label    target
0        3964744                      _hyponym   4371774
1         260881                     _hypernym    260622
2        2199712               _member_holonym   2188065
3        1332730  _derivationally_related_form   3122748
4        6066555  _derivationally_related_form    645415
...          ...                           ...       ...
141437  13950812                      _hyponym  10026763
141438  12028818               _member_holonym  12028196
141439    962129             _instance_hyponym   1281154
141440   5532225                     _has_part   5533948
141441    980394       _synset_domain_topic_of    759694

[141442 rows x 3 columns]